@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Nunito:wght@400;700&display=swap");

body {
  background-color: #3b3252;
  font-family: "Kanit", sans-serif;
}

a {
  color: #885df1;
}

a:hover {
  color: black;
}

h1 {
  text-align: center;
  font-weight: 900;
  font-size: 50px;
  line-height: 1.5;
  color: #000000;
}

header {
  margin-bottom: 30px;
}

.container {
  margin: 120px auto;
  max-width: 600px;
}

form {
  padding: 30px;
  border-radius: 10px;
  display: flex;
  margin-bottom: 30px;
}

.inst {
  padding: 16px;
  width: 80%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
  background-color: #1c1c1c;
  color: white;
}

.submit-button {
  margin-left: 10px;
  background: #131313;
  color: white;
  border: none;
  width: 150px;
  font-size: 16px;
  border-radius: 50px;
  padding: 14px 24px;
}

.submit-button:hover {
  font-size: 105%;
  cursor: pointer;
  background-color: #1c1c1c;
}

.poem {
  font-size: 16px;
  background-color: #d6cefd;
  padding: 20px;
  line-height: 2;
  border-left: 6px solid #131313;
}

footer {
  font-weight: bolder;
  text-align: center;
  font-size: 15px;
  margin-top: 30px;
}
